@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.font-small {
    font-size: 13px;
}
.font-normal {
    font-size: 14px;
}

.width-full {
    width: 100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.my-panel {
    padding: 1.5rem;
    border: 2px solid #eeeeee;
}


.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h3 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h3 {
    color: #d9534f;
}

.flex {
    display: flex;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-top-5 {
    margin-top: 5px;
} 
.margin-top-10 {
    margin-top: 10px;
} 
.divider {
    height: 0.5px;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}